
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MyWebsite.Models.BlogPosts>

@{
   Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olu Osajere">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Olu Osajere-Oluson Blog</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C400italic%2C700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/Grape/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Grape/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Grape/css/bootstrap-social.css" rel="stylesheet">

    <!-- Styles -->
    <link href="~/Grape/css/main.css" rel="stylesheet">

    <!-- Loading bar -->
    <script src="~/Grape/js/pace.min.js"></script>

    <!-- HTML5 shiv for IE8 support -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

    <div id="secondary" class="col-sm-3 sidebar" style="display: none;">
        <aside>

            <div class="about">
                <h4>About us</h4>
                <p></p>
            </div>

            <div class="tags">
                <h4>Tags</h4>
                <ul>
                    <li>
                        <a href="@Url.Action("Index","Home")" class="label label-danger">Oluson</a>
                    </li>
                    <li>
                        <a href="@Url.Action("About","Home")" class="label label-primary">Oluson</a>
                    </li>
                </ul>
            </div>

            <div class="socialmedia">
                <h4>Share</h4>
                <div class="socials-sidebar">
                    <a class="btn btn-facebook" href="#" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-twitter" href="#" title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-linkedin" href="#" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-flickr" href="#" title="Flickr">
                        <i class="fa fa-flickr"></i>
                    </a>
                    <a class="btn btn-pinterest" href="#" title="Pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a class="btn btn-tumblr" href="#" title="Tumblr">
                        <i class="fa fa-tumblr"></i>
                    </a>
                    <a class="btn btn-dropbox" href="#" title="Dropbox">
                        <i class="fa fa-dropbox"></i>
                    </a>
                    <a class="btn btn-google-plus" href="#" title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-instagram" href="#" title="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-github" href="#" title="GitHub">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-bitbucket" href="#" title="Bitbucket">
                        <i class="fa fa-bitbucket"></i>
                    </a>
                    <a class="btn btn-vk" href="#" title="VK">
                        <i class="fa fa-vk"></i>
                    </a>
                </div> <!-- /.socials-sidebar -->
            </div>

        </aside>
    </div> <!-- /#secondary -->

    <div id="primary" class="col-sm-12">
        <div class="content">

            <header class="header">
                <hgroup class="pull-left">
                    <h1 class="site-title">
                        <a rel="home" title="Oluson" href="@Url.Action("Index","Home")">
                            <i class="fa fa-compass"></i>Oluson
                        </a>
                    </h1>
                </hgroup>
                <div id="togglesidebar" class="btn btn-primary pull-right">
                    <i class="fa fa-bars"></i>
                </div>
            <div ></div>
            </header> <!-- /header -->

    @if (User.IsInRole("Admin")) {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
    }

            <div style="float:right">

                @using (Html.BeginForm())
            {
                    @Html.TextBox("searchStr")
                    <input type="submit" />
                }

            </div><br />


                            @foreach(var item in Model)
            {
                <section class="post">
                    <header class="entry-header">
                        <h2 class="entry-title"><a href="@Url.Action("Details",new {slug = item.Slug})">@item.Title</a> </h2>
                         
                        <p class="entry-meta">
                            Posted on <a class="entry-date" href="date.html">@Html.DisplayFor(modelItem => item.Created)</a> | By <a class="entry-author" href="@Url.Action("About","Home")">Olu Osajere</a> | Tags <a class="label label-danger" href="@Url.Action("Index","Home")">Oluson</a>
                        </p>
                    </header>
                    <div class="entry-description">
                        <p>
                            @Html.Raw(Server.HtmlDecode(item.Body))
                        </p>
                    </div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { slug = item.Slug }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </section> 
            }


            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            
            <!-- /.post -->


            <footer class="footer">
                <p>© Oluson 2016. All right reserved.</p>
                @*<div class="socials-footer">
                    <a class="btn btn-facebook" href="#" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-twitter" href="#" title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-linkedin" href="#" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-flickr" href="#" title="Flickr">
                        <i class="fa fa-flickr"></i>
                    </a>
                    <a class="btn btn-pinterest" href="#" title="Pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a class="btn btn-tumblr" href="#" title="Tumblr">
                        <i class="fa fa-tumblr"></i>
                    </a>
                    <a class="btn btn-dropbox" href="#" title="Dropbox">
                        <i class="fa fa-dropbox"></i>
                    </a>
                    <a class="btn btn-google-plus" href="#" title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-instagram" href="#" title="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-github" href="#" title="GitHub">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-bitbucket" href="#" title="Bitbucket">
                        <i class="fa fa-bitbucket"></i>
                    </a>
                    <a class="btn btn-vk" href="#" title="VK">
                        <i class="fa fa-vk"></i>
                    </a>
                </div>*@ <!-- /.socials-footer -->
            </footer> <!-- /footer -->

        </div>
    </div> <!-- /#primary -->
    <!-- Scripts -->
    <script src="~/Grape/js/jquery-1.11.0.min.js"></script>
    <script src="~/Grape/js/custom.js"></script>

</body>
</html>



















@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br/>
<br/>
<br/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
