<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <title>Olu Osajere | Personal Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="~/assets/contact-bg.jpg">
    <link rel="apple-touch-icon" href="~/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS
    =============================================== -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/flexslider.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/designr-theme-cyan.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

    <!-- ==============================================
    Fonts
    =============================================== -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

    <!-- ==============================================
    JS
    =============================================== -->
    <!--[if lt IE 9]>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="~/js/libs/modernizr.min.js"></script>


</head>

<body data-spy="scroll" data-target="#main-nav" data-offset="200">

    <!--=== PAGE PRELOADER ===-->
    <div id="page-loader"><span class="page-loader-gif"></span></div>

    <!-- ==============================================
    MAIN NAV
    =============================================== -->
    <div id="main-nav" class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <!-- ======= LOGO ========-->
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Olu Osajere<br><span>.Net Developer</span></a>
                <!-- <a class="navbar-brand scrollto ir-logo" href="#">JOHN DOE<br><span>UI Designer</span></a> -->

            </div>

            <div id="site-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="sr-only">
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>

                    <li>
                        <a href="@Url.Action("About","Home")">About</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Resume","Home")">Resume</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Portfolio","Home")">Portfolio</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact","Home")">Contact</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","BlogPosts")">Blog</a>
                    </li>
                    
             
                </ul>

            </div><!--End navbar-collapse -->

        </div><!--End container -->

    </div><!--End main-nav -->

    @RenderBody()

    <!-- ==============================================
       FOOTER
       =============================================== -->
    <footer id="main-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 left-col">
                    <h1 class="small-logo">Olu Osajere<br><span>Software Developer</span></h1>
                    <ul class="footer-nav">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Resume","Home")">Resume</a></li>
                        <li><a href="@Url.Action("Portfolio","Home")">Portfolio</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li><a href="@Url.Action("Index","BlogPosts")">Blog</a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                    <p>&copy;Copyright 2016 / All Rights Reserved</p>
                </div>

                <div class="col-sm-6 right-col">
                    <h2>Who Am I?</h2>
                    <p>I am a tech enthusiast with a passion for software development and coding in general.</p>
                </div>

            </div><!-- End row -->

        </div><!-- End container -->

    </footer><!-- End footer -->
    <!-- ==============================================
    SCRIPTS
    =============================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/js/libs/jquery-1.9.1.min.js">\x3C/script>')</script>

    <script src="~/js/libs/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollto.js"></script>
    <script src="~/js/jquery.flexslider.min.js"></script>
    <script src="~/js/twitterFetcher_min.js"></script>
    <script src="~/js/jquery.masonry.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.easypiechart.min.js"></script>
    <script src="~/js/jquery.backstretch.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/designr.js"></script>
   
    @RenderSection("scripts", required: false)
</body>

</html>